.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
*.iml
bin/
gen/
out/
*.apk
*.ap_
*.class
/*/out
/*/*/build
/*/*/production
*.iws
*.ipr
*~
*.swp
/orig
/.tx
*.sh
*.pl
*.mk
*.yml
*.py
*.txt
*.db
/app/build/
